<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h3 class="page-header">Számla áttekintő</h3>
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th>#</th>
          <th>Számlaszám </th>
          <th>Elérhető egyenleg </th>
          <th>Devizanem</th>
        </tr>
      </thead>
      <tbody>
        <tr class="accountRows" ng-repeat="account in accountList" ng-click="loadAccountDetails(account.id)">
          <td>{{account.id}}</td>
          <td>{{account.szamlaSzam}}</td>
          <td>{{account.egyenleg}}</td>
          <td>{{account.devizanem}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>